body
{
  background-color: black;
  
}
header
{
  background-image: url("banner.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
}
header h1
{
  padding-top: 20vh;
  color: aliceblue;
  text-align: center;
  font-size: 200%;
  font-family: Georgia, 'Times New Roman', Times, serif
}
nav a
{
  font-style: oblique;
  width: 100%;
  font-size: large;
  text-align: left;
  justify-content: space-evenly;
  color: aliceblue;
  text-decoration: none;
  padding: 100px;
 
}
.main h2
{
  overflow: auto;
  text-align: center;
  color: aliceblue;
}
.container{
  width: 90vw;
}
.left{
  color: aliceblue;
  padding-left: 25px;
  float: left;
  max-width: 40%;
}
img{
  max-width: 500px;
  size: 40%;
}
.right{
  padding-right: 25px;
  max-width: 40%;
  float: right;
  color: aliceblue;
}
.clearfloat{
  clear: both;
  color: aliceblue;
  text-align: center;
}