
 body
 {
   text-align: center;
   color: yellow;
   text-decoration-color: yellow;
   font-family: Arial, Helvetica, sans-serif;
    background-color:blue
   

 }
 img
{
    align-self: center;
}
h1
{
   text-align: center;
   color: yellow;
}
a
{
   text-align: center;
   color: yellow;
}